body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.apply-form {
    width: 50%;
    margin: 50px auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    display: flex;
    gap: 10px;
}

input, textarea, select, button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

fieldset {
    width: 300px;
    padding: 10px;
}

button {
    text-align: center;
    background-color: darkblue;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
}

button:hover {
    color: lightskyblue;
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px 30px;
    background: darkblue;
    color: white;
}
