body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkblue;
    padding: 15px 30px;
    color: white;
}

.nav-links a.active {
    color: lightskyblue; 
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 0 0 8px lightskyblue;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: lightskyblue;
}

.container {
    max-width: 1400px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.service-box {
    width: 30%;
    background: #eef;
    padding: 15px;
    margin: 10px 0;
    text-align: center;
    border-radius: 5px;
}
footer {
    max-width: 1400px;
    padding: 10px;
    background: #007bff;
    color: white;
    margin: 20px auto;
}
