body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    padding: 10px 30px;
    color: white;
}

.motto {
    font-size: 10px;
}

.logo {
    font-weight: bold;
}

.nav-links a.active {
    color: lightskyblue; 
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 0 0 8px lightskyblue;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: lightskyblue;
}

/* Main content area */
.content {
    flex: 1;
    max-width: 80%;
}

/* Navigation section (center-right) */
.job-nav {
    position: fixed;
    right: 70px;
    top: 50%;
    transform: translateY(-50%);
    background: beige;
    padding: 20px;
    border-left: 2px solid grey;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.job-nav h3 {
    margin-top: 0;
}

.job-nav ul {
    list-style: none;
    padding: 0;
}

.job-nav ul li {
    margin: 10px 0;
}

.job-nav ul li a {
    text-decoration: none;
    color: darkcyan;
}

.job-nav ul li a:hover {
    text-decoration: underline;
    color: lightskyblue;
}
footer {
    display: flex;
    justify-content: center;
    padding: 10px 30px;
    background: darkblue;
    color: white;
}
