body {
    font-family: 'Roboto', sans-serif; 
    line-height: 1.6; 
    margin: 0;
    padding: 0;
    background-color: bisque;
}

header {
    background: #007BFF;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    font: 24px 'Roboto', sans-serif; 
    margin: 0;
}

main {
    display: flex;
    flex-direction: column; 
}

.job-container {
    display: flex; 
    justify-content: space-between; 
    width: 100%;
    margin-bottom: 20px;
}

.job-description-code-developer,
.job-description-data-analyst {
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 15px;
    flex: 1;
    margin-right: 10px; 
}
.job-description-data-analyst {
    margin-right: 0; 
    background-color: rgb(10, 237, 237);
}
.job-description-code-developer{
    background-color: aquamarine
}
aside {
    width: 25%; 
    float: right; 
    background: #f4f4f4;
    padding: 10px;
    border: 2px solid #007BFF; 
    border-radius: 5px; 
    margin-top: 20px; 
}

footer {
    background: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%; 
    font-size: 12px;
}

footer a {
    color: #fff;
    text-decoration: underline;
}